<!doctype html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>This is great</h1>
                <p>Welcome</p>

                <h2>Variables</h2>
                <p><%= tagline %></p>

                <h2>Loop</h2>
                <table border="1">
                    <tr>
                        <th>trip Num</th>
                        <th>Camp</th>
                        <th>Arrival</th>
                        <th>Departure</th>
                        <th>Site</th>
                        <th>LAT</th>
                        <th>LON</th>
                        <th>Memo</th>
                    </tr>
                    <% trips.forEach(function(trip) { %>
                    <tr>
                        <td><%= trip.tripNumber %></td>
                        <td><%= trip.campgroundName %></td>
                        <td><%= trip.arrivalDate %></td>
                        <td><%= trip.departureDate %></td>
                        <td><%= trip.siteNumber %></td>
                        <td><%= trip.latitude %></td>
                        <td><%= trip.longitude %></td>
                        <td><%= trip.memo %></td>
                    </tr>
                    <% }); %>
                </table>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>